:root {
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);

    /*Bar graph Gradient*/
    --gradient-top: hsl(6, 100%, 80%);
    --gradient-bottom: hsl(335, 100%, 65%);

    --border: hsla(229, 7%, 55%, .3);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: var(--VeryDarkBlue);
}

@media screen {
    body {
        background-image: url("../images/bg-desktop.png");
        background-position: bottom right;
        background-repeat: no-repeat;
    }
}

#container {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 50vw;
}

.sidebar {
    float: left;
    border: 1px var(--border) solid;
    border-radius: .5rem 5rem .5rem .5rem;
    background: var(--DarkBlue);
    width: 30%;
    padding: 2rem;
}

.logo {
    border: 1px var(--border) solid;
    padding: .5rem;
}

.icons {
    display: flex;
    flex-direction: row;
    border: 1px var(--border) solid;
    padding: 1rem;
}

.icon {
    align-content: center;
    background-color: var(--VeryDarkBlue);
    border-radius: .5rem;
    height: 3rem; width: 3rem;
    padding: .5rem;
    margin: .5rem;
}

#stats {
    float: left;
    margin-left: 1rem;
    width: 80%;
    border: 1px var(--border) solid;
    border-radius: .5rem;
    background-color: var(--DarkBlue);
}

#usagesummary {
    border: 1px var(--border) solid;
    font-size: 14px;
    font-weight: 400;
}

#remaining {
    border: 1px var(--border) solid;
}

#bargraph {
    border: 1px var(--border) solid;
}

.usagebar {
    border: 1px var(--border) solid;
}

.start {
    border: 1px var(--border) solid;
}

.end {
    border: 1px var(--border) solid;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }